<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wusy.wusylibrary" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.VIBRATE" />
</manifest>
